body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #DCDCDC;
    font-family: sans-serif;
}

header {
    margin-bottom: 40px;
    font-size: 18px;
    color: #444;
}

.chat-card {
    display: flex;
    align-items: center;
    padding: 16px 20px;
    background: #ffffff;
    border-radius: 15px;
    width: 450px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
}

.avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.name {
    font-weight: 600;
    font-size: 18px;
    color: #050505;
    margin-bottom: 4px;
}

.message {
    color: #65676b;
    font-size: 15px;
}

.time {
    color: #8a8d91;
    margin-left: 5px;
}

.status {
    display: flex;
    align-items: center;
    margin-left: 15px;
    flex-shrink: 0;
}

.seen-img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    object-fit: cover;
}
footer {
    margin-top: 40px; /* Расстояние от виджета до футера */
    font-size: 14px;
    color: #333;
    text-align: center;
}
